<div class="container">
    <div class="row">
        <div class="w-full md:w-1/2 p-3">
            <div class="bg-white border-2 border-gray-300 rounded-lg shadow-lg p-4">
                <div class="card-body">
                    <h2 class="card-title">Transferencia</h2>
                    <p class="card-text text-justify">Recuerda que puedes pagar por PayPal tus Reservaciones, sin embargo también tenemos la opción de transferencia bancarias.</p>
                       <div class="col-12 col-md-6 custom-section">
                    <h2 class="card-title custom-title">Transferencia</h2>
                    <p class="card-text custom-text">Recuerda que puedes pagar por PayPal tus nominaciones, sin embargo también tenemos la opción de transferencia bancaria.</p>
                    <p class="card-text custom-text">
                      Puedes realizar tu pago mediante transferencia bancaria con los siguientes datos:
                      <br><br><strong>Nombre:</strong> CE RESEARCH SA DE CV
                      <br><strong>Dirección:</strong> AREZO 1 201, LOMAS DE ANGELOPOLIS, SAN ANDRÉS CHOLULA, PUE, MÉXICO, CP 72830
                      <br><strong>Banco:</strong> BBVA
                      <br><strong>Cuenta:</strong> 0118884641
                      <br><strong>CLABE:</strong> 012650001188846413
                      <br><strong>RFC:</strong> CRE220323H52
                      <!-- <br><strong>Sucursal:</strong> 3733 - Puebla Humboldt -->
                      <!-- <br><strong>Dirección de sucursal:</strong> AV. 14 ORIENTE S/N COL. HUMBOLDT, PUEBLA
                      <br><strong>Teléfono de sucursal:</strong> 2358125
                      <br><strong>Periodo de estado de cuenta:</strong> 01/03/2025 al 31/03/2025
                      <br><strong>No. de Cliente:</strong> D1700845 -->
                    </p>
                
                  </div>
                </div>
            </div>
            </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header" style="background-color:#4c3f91;">

                </div>
                <div class="card-body">
                    <h5 class="card-title"> Información de Contacto</h5>
                    <p class="card-text">En caso de problemas, sugerencia o preguntas. Favor de comunicarse ha alguno de los siguientes medios</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
                <a href="tel:+522221361005" target="_blank">+52 222 136 1005</a>
                <a href="mailto:isaac969@gmail.com?Subject=Reed%20Latino%20Contacto" target="_blank">isaac969@gmail.com</a>
                <div class="card-footer text-muted">

                </div>
            </div>
        </div>
        <form class="add">
            <div class="col">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombre *</label>
                    <input type="text" class="form-control" placeholder="nombre" type="text" id="nombre" name="name" required [(ngModel)]="contactomodel.name" >
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Correo Electronico *</label>
                    <input type="email" class="form-control" placeholder="correo" type="text" id="correo" name="correo" required [(ngModel)]="contactomodel.correo">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Telefono *</label>
                    <input type="telefono" class="form-control" placeholder="telefono" id="telefono" name="telefono" required [(ngModel)]="contactomodel.telefono">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Mensaje *</label>
                    <textarea class="form-control"  rows="3" placeholder="mensaje" type="text" id="mensaje" name="mensaje" required [(ngModel)]="contactomodel.mensaje" ></textarea>
                    
                </div>

                <div class="mb-3">
                    <button type="button" class="btn btn-primary" style="background-color:#4c3f91;" type="submit"  (click)="add()">Enviar</button>
                </div>
            </div>
        </form>
    </div>


</div>