<div class="container">
    <p-toolbar>
        <ng-template pTemplate="left">
            <h3 class="text-dark">Categorías</h3>
        </ng-template>
        <ng-template pTemplate="right">
            <span class="p-input-icon-left mr-2">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Buscar categoría" (input)="dt.filterGlobal($event.target.value, 'contains')" />
            </span>
            <div style="border-left:1px solid rgba(0,0,0,0.12); height:1.5rem; margin:0 0.75rem;"></div>
            <button pButton pRipple class="p-button-info mr-2 d-none" (click)="GenereteReportMasterExcel()" label="Exportar Reporte" icon="pi pi-upload"> </button>
            <button pButton pRipple label="Nueva categoria" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="categoriaCollectiondata" [rows]="20" [paginator]="true" [loading]="loading" [rowsPerPageOptions]="[20,35,50]" [globalFilterFields]="['nombre']">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    Nombre
                    <!-- <p-sortIcon field="nombre"></p-sortIcon> -->
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-categoria>
            <tr>
                <td>
                    <p>{{categoria.nombre}}</p>
                    <!-- <p>{{categoria.id}}</p> -->
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mx-3" (click)="delete(categoria)"></button>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editar(categoria)" (click)="edit"></button>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Total de categorías {{categoriaCollectiondata ? categoriaCollectiondata.length : 0 }}.
            </div>
        </ng-template>
    </p-table>
</div>

<!-- Nueva categoria -->
<p-dialog [(visible)]="visible" [style]="{width: '450px'}" header="Nueva Categoria" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <form [formGroup]="categoriaForm">

            <div class="field">
                <label for="id">id:</label>
                <input type="number" pInputText name="id" class="" value="" [(ngModel)]="categoriaModel.id" formControlName="id" [ngClass]="submitted && categoriaForm.controls['id'].errors ? 'is-invalid' : !submitted && categoriaForm.controls['id'].valid ? 'is-valid' : submitted && categoriaForm.controls['id'].valid ? 'is-valid' : null">
                <small class="p-error" *ngIf="submitted && !categoriaModel.id">nombre is required.</small>

            </div>
            <div class="field">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" class="" value="" pInputText required [(ngModel)]="categoriaModel.nombre" formControlName="nombre" required/>
                <small class="p-error" *ngIf="submitted && !categoriaModel.nombre">nombre is required.</small>

            </div>

            <div class="field">
                <p-checkbox label="Activo" [trueValue]="1" [falseValue]="0" formControlName="activo" binary="true"></p-checkbox>
                <small class="p-error" *ngIf="submitted && !categoriaModel.activo">Activo is required.</small>
            </div>

        </form>



    </ng-template>

    <ng-template pTemplate="footer">
        <div>
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="add()"></button>
        </div>

    </ng-template>
</p-dialog>

<p-dialog [(visible)]="edit" [style]="{width: '450px'}" header="Editar Categoria" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <form [formGroup]="categoriaForm">

            <div class="field">
                <label for="id">id:</label>
                <input type="number" pInputText name="id" class="" value="" [(ngModel)]="categoriaModel.id" formControlName="id" [ngClass]="submitted && categoriaForm.controls['id'].errors ? 'is-invalid' : !submitted && categoriaForm.controls['id'].valid ? 'is-valid' : submitted && categoriaForm.controls['id'].valid ? 'is-valid' : null">
                <small class="p-error" *ngIf="submitted && !categoriaModel.id">Id is required.</small>

            </div>
            <div class="field">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" class="" value="" pInputText required [(ngModel)]="categoriaModel.nombre" formControlName="nombre" required/>
                <small class="p-error" *ngIf="submitted && !categoriaModel.nombre">Nombre is required.</small>
            </div>

            
            <div class="field">
                <p-checkbox label="Activo" [trueValue]="1" [falseValue]="0" formControlName="activo" binary="true"></p-checkbox>
                <small class="p-error" *ngIf="submitted && !categoriaModel.activo">Activo is required.</small>
            </div>

            <div class="card flex justify-content-center mt-5">
                <label for="nombre">Subcategorias</label>
                <p-listbox [options]="subcategories" formControlName="subcategorias" [metaKeySelection]="false" [checkbox]="true"
                [filter]="true" [multiple]="true" dataKey="uid" optionLabel="nombre" (onChange)="onSubcategoryChange($event)" [style]="{'width':'100%', 'height': '300px', 'overflow':'auto'}">
                <ng-template let-country pTemplate="item">
                    <div class="country-item">
                        <div>{{country.nombre}}</div>
                    </div>
                </ng-template>
            </p-listbox>
            </div>

        </form>



    </ng-template>

    <ng-template pTemplate="footer">
        <div>
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="update()"></button>
        </div>


    </ng-template>
</p-dialog>


<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
