<div class="container mt-4 mb-lg-5">
    <h4 class="text-bold text-center">{{accion == 'agregar' ? 'Crear' : 'Actualizar'}} Nominaci&oacute;n</h4>
    <hr>

    <form [formGroup]="nominacionForm" (ngSubmit)="crearNominacion()">
        <p-card header="Informaci&oacute;n de la pieza">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label for="titulo" class="form-label">T&iacute;tulo de la pieza*</label>
                        <h6>"con ese titulo saldrán nominados"</h6>
                        <input type="text" class="form-control" id="titulo" formControlName="titulo" [ngClass]="submitted && nominacionForm.controls['titulo'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['titulo'].valid ? 'is-valid' : submitted && nominacionForm.controls['titulo'].valid ? 'is-valid' : null">
                        <div *ngIf="submitted && nominacionForm.controls['titulo'].errors" class="text-danger">
                            <div *ngIf="nominacionForm.controls['titulo'].errors.required">El titulo es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">

                    <div class="mb-3">
                        <label for="nominado" class="form-label">Nombre del nominado*</label>
                        <h6>"con ese nombre saldrá nominado"</h6>
                        <input type="text" class="form-control" id="nominado" formControlName="nominado" [ngClass]="submitted && nominacionForm.controls['nominado'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['nominado'].valid ? 'is-valid' : submitted && nominacionForm.controls['nominado'].valid ? 'is-valid' : null">
                        <div *ngIf="submitted && nominacionForm.controls['nominado'].errors" class="text-danger">
                            <div *ngIf="nominacionForm.controls['nominado'].errors.required">El nominado es requerido
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label for="categoria" class="form-label">Categor&iacute;a*</label>
                        <select class="form-select" formControlName="categoria" [ngClass]="submitted && nominacionForm.controls['categoria'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['categoria'].valid ? 'is-valid' : submitted && nominacionForm.controls['categoria'].valid ? 'is-valid' : null"
                            [disabled]="preloadCategoria != null ? 'true' : 'false'">
                      <option value="">Selecciona una categor&iacute;a</option>
                      <option [value]="item.nombre" *ngFor="let item of categorias">{{item.nombre}}</option>
                    </select>
                        <!-- <p-dropdown [options]="categorias" formControlName="categoria" placeholder="Selecciona una categor&iacute;a" optionLabel="nombre" optionValue="nombre" [filter]="true" filterBy="nombre" [showClear]="true" [ngClass]="submitted && nominacionForm.controls['categoria'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['categoria'].valid ? 'is-valid' : submitted && nominacionForm.controls['categoria'].valid ? 'is-valid' : null"
                        [style]="{'width':'100%', 'overflow': 'visible'}"></p-dropdown> -->
                        <div *ngIf="submitted && nominacionForm.controls['categoria'].errors" class="text-danger">
                            <div *ngIf="nominacionForm.controls['categoria'].errors.required">Seleccione una categoria
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripci&oacute;n*</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" rows="4" formControlName="descripcion" [ngClass]="submitted && nominacionForm.controls['descripcion'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['descripcion'].valid ? 'is-valid' : submitted && nominacionForm.controls['descripcion'].valid ? 'is-valid' : null"></textarea>
                        <div *ngIf="submitted && nominacionForm.controls['descripcion'].errors" class="text-danger">
                            <div *ngIf="nominacionForm.controls['descripcion'].errors.required">La descripci&oacute;n es requerida
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
        <br>
        <p-card header="Informaci&oacute;n de la organizaci&oacute;n">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label *ngIf="agregarLogo" for="formFile" class="form-label">Imagen representativa o logo*</label>
                        <input *ngIf="agregarLogo" class="form-control" type="file" accept="image/*" id="formFile" (change)="onFileSelected($event, 'FileLogoEmpresa')" [ngClass]="submitted && nominacionForm.controls['fileLogoEmpresa'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['fileLogoEmpresa'].valid ? 'is-valid' : submitted && nominacionForm.controls['fileLogoEmpresa'].valid ? 'is-valid' : null">
                        <div *ngIf="submitted && nominacionForm.controls['fileLogoEmpresa'].errors" class="text-danger">
                            <div *ngIf="nominacionForm.controls['fileLogoEmpresa'].errors.required">Por favor seleccione un archivo</div>
                        </div>
                        <label *ngIf="accion == 'editar' && !agregarLogo">
                      <a target="blank" [href]="nominacionEditar?.fileLogoEmpresa?.url | safeurl : ''">Imagen representativa o logo</a> <button style="margin-left: 1em;" class="btn btn-primary btn-sm" type="button" (click)="setTypeArchivo('FileLogoEmpresa')">Cambiar</button>
                    </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label for="organizacion" class="form-label">Organizaci&oacute;n*</label>
                        <input type="text" class="form-control" id="organizacion" formControlName="organizacion" [ngClass]="submitted && nominacionForm.controls['organizacion'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['organizacion'].valid ? 'is-valid' : submitted && nominacionForm.controls['organizacion'].valid ? 'is-valid' : null">
                        <div *ngIf="submitted && nominacionForm.controls['organizacion'].errors" class="text-danger">
                            <div *ngIf="nominacionForm.controls['organizacion'].errors.required">El nombre de la organizacion es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label for="responsable" class="form-label">Responsable de quien sube la pieza*</label>
                        <input type="text" class="form-control" id="responsable" formControlName="responsable" [ngClass]="submitted && nominacionForm.controls['responsable'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['responsable'].valid ? 'is-valid' : submitted && nominacionForm.controls['responsable'].valid ? 'is-valid' : null">
                        <div *ngIf="submitted && nominacionForm.controls['responsable'].errors" class="text-danger">
                            <div *ngIf="nominacionForm.controls['responsable'].errors.required">El nombre del responsable es requerido</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Tel&eacute;fono*</label>
                        <input type="text" class="form-control" id="telefono" formControlName="telefono" [ngClass]="submitted && nominacionForm.controls['telefono'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['telefono'].valid ? 'is-valid' : submitted && nominacionForm.controls['telefono'].valid ? 'is-valid' : null">
                        <div *ngIf="submitted && nominacionForm.controls['telefono'].errors" class="text-danger">
                            <div *ngIf="nominacionForm.controls['telefono'].errors.required">El telefono es requerido
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label for="pais" class="form-label">Pa&iacute;s*</label>
                        <p-dropdown [options]="paises" formControlName="pais" placeholder="Selecciona un pa&iacute;s" optionLabel="name.common" optionValue="name.common" [filter]="true" filterBy="name.common" [showClear]="true" [ngClass]="submitted && nominacionForm.controls['pais'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['pais'].valid ? 'is-valid' : submitted && nominacionForm.controls['pais'].valid ? 'is-valid' : null"
                            [style]="{'width':'100%'}"></p-dropdown>
                        <div *ngIf="submitted && nominacionForm.controls['pais'].errors" class="text-danger">
                            <div *ngIf="nominacionForm.controls['pais'].errors.required">El pa&iacute;s es requerido
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
        <br>
        <p-card header="Redes sociales">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Instagram*</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping"><i
                                class="fa-brands fa-instagram"></i></span>
                            <input type="text" class="form-control" aria-describedby="addon-wrapping" formControlName="rsInstagram" [ngClass]="submitted && nominacionForm.controls['rsInstagram'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['rsInstagram'].valid ? 'is-valid' : submitted && nominacionForm.controls['rsInstagram'].valid ? 'is-valid' : null">
                        </div>
                        <div *ngIf="submitted && nominacionForm.controls['rsInstagram'].errors" class="text-danger">
                            <div *ngIf="nominacionForm.controls['rsInstagram'].errors.required">Este campo es requerido
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label for="responsable" class="form-label">Twitter*</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping"><i
                                class="fa-brands fa-twitter"></i></span>
                            <input type="text" class="form-control" aria-describedby="addon-wrapping" formControlName="rsTwitter" [ngClass]="submitted && nominacionForm.controls['rsTwitter'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['rsTwitter'].valid ? 'is-valid' : submitted && nominacionForm.controls['rsTwitter'].valid ? 'is-valid' : null">
                        </div>
                        <div *ngIf="submitted && nominacionForm.controls['rsTwitter'].errors" class="text-danger">
                            <div *ngIf="nominacionForm.controls['rsTwitter'].errors.required">Este campo es requerido
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Facebook*</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping"><i
                                class="fa-brands fa-facebook"></i></span>
                            <input type="text" class="form-control" aria-describedby="addon-wrapping" formControlName="rsFacebook" [ngClass]="submitted && nominacionForm.controls['rsFacebook'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['rsFacebook'].valid ? 'is-valid' : submitted && nominacionForm.controls['rsFacebook'].valid ? 'is-valid' : null">
                        </div>
                        <div *ngIf="submitted && nominacionForm.controls['rsFacebook'].errors" class="text-danger">
                            <div *ngIf="nominacionForm.controls['rsFacebook'].errors.required">Este campo es requerido
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label for="pais" class="form-label">YouTube*</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping"><i
                                class="fa-brands fa-youtube"></i></span>
                            <input type="text" class="form-control" aria-describedby="addon-wrapping" formControlName="rsYoutube" [ngClass]="submitted && nominacionForm.controls['rsYoutube'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['rsYoutube'].valid ? 'is-valid' : submitted && nominacionForm.controls['rsYoutube'].valid ? 'is-valid' : null">
                        </div>
                        <div *ngIf="submitted && nominacionForm.controls['rsYoutube'].errors" class="text-danger">
                            <div *ngIf="nominacionForm.controls['rsYoutube'].errors.required">Este campo es requerido
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
        <br>
        <p-card header="Documentos requeridos">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label *ngIf="agregarFileCDerechos" for="formFile" class="form-label">Cesi&oacute;n de derechos*</label>
                        <input *ngIf="agregarFileCDerechos" class="form-control" type="file" accept=".pdf,.doc,.docx,.ppt,.pptx" id="formFile" (change)="onFileSelected($event, 'FileCesionDerechos')" [ngClass]="submitted && nominacionForm.controls['fileCesionDerechos'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['fileCesionDerechos'].valid ? 'is-valid' : submitted && nominacionForm.controls['fileCesionDerechos'].valid ? 'is-valid' : null">
                        <div *ngIf="submitted && nominacionForm.controls['fileCesionDerechos'].errors" class="text-danger">
                            <div *ngIf="nominacionForm.controls['fileCesionDerechos'].errors.required">Por favor seleccione un archivo</div>
                        </div>
                        <label *ngIf="accion == 'editar' && !agregarFileCDerechos">
                      <a target="blank" [href]="nominacionEditar?.fileCesionDerechos?.url | safeurl : ''">Archivo Cesi&oacute;n de derechos</a> <button style="margin-left: 1em;" class="btn btn-primary btn-sm" type="button" (click)="setTypeArchivo('FileCesionDerechos')">Cambiar</button>
                    </label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label *ngIf="agregarFileCIntencion" for="formFile" class="form-label">Carta de intenci&oacute;n*</label>
                        <input *ngIf="agregarFileCIntencion" class="form-control" type="file" accept=".pdf,.doc,.docx,.ppt,.pptx" id="formFile" (change)="onFileSelected($event, 'FileCartaIntencion')" [ngClass]="submitted && nominacionForm.controls['fileCartaIntencion'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['fileCartaIntencion'].valid ? 'is-valid' : submitted && nominacionForm.controls['fileCartaIntencion'].valid ? 'is-valid' : null">
                        <div *ngIf="submitted && nominacionForm.controls['fileCartaIntencion'].errors" class="text-danger">
                            <div *ngIf="nominacionForm.controls['fileCartaIntencion'].errors.required">Por favor seleccione un archivo</div>
                        </div>
                        <label *ngIf="accion == 'editar' && !agregarFileCIntencion">
                      <a target="blank" [href]="nominacionEditar?.fileCartaIntencion?.url | safeurl : ''">Archivo Carta de intenci&oacute;n</a> <button style="margin-left: 1em;" class="btn btn-primary btn-sm" type="button" (click)="setTypeArchivo('FileCartaIntencion')">Cambiar</button>
                    </label>
                    </div>
                </div>
            </div>
            <span class="text-danger">Únicamente se aceptan los siguientes tipos de archivos: "pdf, doc, docx, ppt y pptx"</span>
        </p-card>
        <div class="w-full md:w-1/2 p-3">
            <div class="bg-white border-2 border-gray-300 rounded-lg shadow-lg p-4">
                <h5 class="text-gray-700 font-bold mb-3">Descarga los documentos aquí</h5>
                <p class="text-gray-700 text-base">Los documentos requeridos para que puedas crear tu nominación</p>

                <div class="row">
                    <div class="col">
                        <p>
                            <br>
                            <br>
                            <a href="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/files%2FCesionDeDerechos.docx?alt=media&token=43a14bb4-966a-442c-9676-42840c98d767">
                                <img src="assets/img/docx.png" alt="" height="150" width="140">
                            </a>
                            <br>Cesión de derechos
                            <br>
                        </p>
                    </div>
                <div class="col">
                        <p>
                            <br>
                            <br>
                            <a href="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/files%2FCarta%20de%20Intencio%CC%81n%20.docx?alt=media&token=64d7367f-588b-41ef-9c8a-7d2beca0bedf">
                                <img src="assets/img/docx.png" alt="" height="150" width="140">
                            </a>
                            <br>Carta de intención
                            <br>
                        </p>
                    </div>
                    <!-- <div class="col">
                        <p>
                            <br>
                            <br>
                            <a href="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/ourFiles%2FCONSULTOR%20DEL%20AN%CC%83O.docx?alt=media&token=4d56eea2-bfe5-40c7-be0f-4ee4e9e51ab0">
                                <img src="assets/img/docx.png" alt="" height="150" width="140">
                            </a>
                            <br>Consultor del año
                            <br>
                        </p>
                    </div> -->
                    <!-- <div class="col">
                        <p>
                            <br>
                            <br>
                            <a href="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/ourFiles%2FACADE%CC%81MICAS.docx?alt=media&token=8b1094cb-c560-4bc4-a34f-969a96870b21">
                                <img src="assets/img/docx.png" alt="" height="150" width="140">
                            </a>
                            <br>Academias
                            <br>
                        </p>
                    </div> -->
                    <!-- <div class="col">
                        <p>
                            <br>
                            <br>
                            <a href="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/ourFiles%2FConsultor%20Revelacio%CC%81n.docx?alt=media&token=e7d04301-115d-4425-8748-3e7df63c60a5">
                                <img src="assets/img/docx.png" alt="" height="150" width="140">
                            </a>
                            <br>Consultor revelación
                            <br>
                        </p>
                    </div> -->
                </div>
            </div>
        </div>
        <br>

        <p-card header="Material multimedia">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label *ngIf="agregarFilesMultimedia" for="formFile" class="form-label">Cargue cualquier recurso multimedia relacionado con la
                        nominaci&oacute;n aqu&iacute;, Este material multimedia se podr&aacute; visualizar
                        publicamente.</label>
                        <label>puedes subir aquí tus videos imágenes y otros materiales a tu elección</label>
                        <input *ngIf="agregarFilesMultimedia" class="form-control" type="file" accept=".pdf,.doc,.docx,.ppt,.pptx,image,.mp4,.mp3/*" id="formFile" multiple (change)="onFileSelected($event, 'FileMaterialMultimedia')" [ngClass]="submitted && nominacionForm.controls['fileMaterialMultimedia'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['fileMaterialMultimedia'].valid ? 'is-valid' : submitted && nominacionForm.controls['fileMaterialMultimedia'].valid ? 'is-valid' : null">
                        <div *ngIf="submitted && nominacionForm.controls['fileMaterialMultimedia'].errors" class="text-danger">
                            <div *ngIf="nominacionForm.controls['fileMaterialMultimedia'].errors.required">Por favor seleccione un archivo</div>
                        </div>
                        <div *ngIf="accion == 'editar' && !agregarFilesMultimedia">
                            <div *ngFor="let item of nominacionEditar.materialMultimedia; let i=index">
                                <label><a target="blank" [href]="item?.url | safeurl : ''">Material Multimedia {{i+1}}</a></label> &nbsp;
                            </div>
                            <button class="btn btn-primary btn-sm" type="button" (click)="cambiarArchivo('FileMaterialMultimedia')">Cambiar</button>
                        </div>
                    </div>
                </div>
            </div>
            <span class="text-danger">Únicamente se aceptan los siguientes tipos de archivos: "pdf, doc, docx, ppt, pptx,mp4,mp3 e imagenes"</span>
        </p-card>
        <hr>

        <p-card header="Pagar con:" *ngIf="nominacionForm.controls['statuspago'].value != 'Pago Realizado'">
            <label>Selecciona un método de pago:</label>
            <select id="objetivo" class="form-control text-center" formControlName="pagarCon">
                <option default value="" disabled>Selecciona un metodo de pago</option>
                <option value="proceso">Proceso de Pago</option>
                <option value="swift">Transferencia SWIFT</option>
                <option value="paypal" [disabled]="!nominacionForm.valid">PayPal</option>
            </select>
            <br>
            <div class="row" >
                <div class="col-8">
                    <label>Aplicar codigo de descuento</label>
                    <input type="text" class="form-control" [(ngModel)]="codigoDesc" [ngModelOptions]="{standalone: true}" [disabled]="descuentoAplicado">
                </div>
                <div class="col-4" style="margin-top: 1.6em;">
                    <button class="btn btn-primary btn-sm" type="button" (click)="aplicarDescuento()" [disabled]="descuentoAplicado">Aplicar Descuento</button>
                </div>
            </div>
        </p-card>
        <br *ngIf="nominacionForm.controls['statuspago'].value != 'Pago Realizado'">
        <p-card *ngIf="nominacionForm.controls['pagarCon'].value === 'swift'" header="Pagar con transferencia SWIFT ">
            <div class="col-12">

                <div class="mb-3">
                    <p>Ingresa el baucher con la transferencia por <strong>USD: {{producto.precio}}</strong>
                        <br>Los datos para realizar tu transferencia se encuentran en la página de
                        <a target="_blank" href="">Inicio</a>
                    </p>
                    <label *ngIf="nominacionForm.controls['pagarCon'].value === 'swift' && agregarFileBaucher || nominacionEditar.fileBaucher == ''" for="formFile" class="form-label">Comprobante de pago*</label>
                    <input *ngIf="nominacionForm.controls['pagarCon'].value === 'swift' && agregarFileBaucher || nominacionEditar.fileBaucher == ''" class="form-control" accept=".pdf,.doc,.docx,image,.mp4,.mp3/*" type="file" id="formFile" (change)="onFileSelected($event, 'FileBaucher')" [ngClass]="submitted && nominacionForm.controls['fileBaucher'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['fileBaucher'].valid ? 'is-valid' : submitted && nominacionForm.controls['fileBaucher'].valid ? 'is-valid' : null">
                    <div *ngIf="submitted && nominacionForm.controls['fileBaucher'].errors" class="text-danger">
                        <!-- <div *ngIf="nominacionForm.controls['fileBaucher'].errors.required">Por favor seleccione un archivo</div> -->
                    </div>
                    <label *ngIf="accion == 'editar' && !agregarFileBaucher && nominacionEditar.fileBaucher">
                  <a target="_blank" [href]="nominacionEditar.fileBaucher?.url | safeurl : ''">Archivo de comprobante de pago</a> <button style="margin-left: 1em;" class="btn btn-primary btn-sm" type="button" (click)="setTypeArchivo('FileBaucher')">Cambiar</button>
                </label>
                </div>
            </div>
            <span class="text-danger">Únicamente se aceptan los siguientes tipos de archivos: "pdf, doc, docx e imagenes"</span>
        </p-card>
        <br *ngIf="nominacionForm.controls['pagarCon'].value === 'swift'">
        <p-card [hidden]="nominacionForm.controls['pagarCon'].value === '' || nominacionForm.controls['pagarCon'].value === 'swift'|| nominacionForm.controls['pagarCon'].value === 'proceso'" header="Pagar con Paypal">

            <!-- <div class="select">
            <label class="form-label">Tipo de pago</label>
            <div *ngIf="submitted && nominacionForm.controls['tipoPago'].errors" class="text-danger">
                <div *ngIf="nominacionForm.controls['tipoPago'].errors.required">Este campo es requerido</div>
            </div>
        </div>  -->
            <!-- if pagarCon === paypal -->
            <div class="row">
                <div class="col-12">
                    <input type="text" class="form-control" id="statuspago" formControlName="statuspago" [ngClass]="submitted && nominacionForm.controls['statuspago'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['statuspago'].valid ? 'is-valid' : submitted && nominacionForm.controls['statuspago'].valid ? 'is-valid' : null"
                        disabled>
                    <div *ngIf="submitted && nominacionForm.controls['statuspago'].errors" class="text-danger">
                        <div *ngIf="nominacionForm.controls['statuspago'].errors.required">El Pago es requerido</div>
                    </div>
                    <input type="hidden" class="form-control" id="idpago" formControlName="idpago" [ngClass]="submitted && nominacionForm.controls['idpago'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['idpago'].valid ? 'is-valid' : submitted && nominacionForm.controls['idpago'].valid ? 'is-valid' : null"
                        disabled>



                    <!-- <input type="text" class="form-control" id="createtime"  formControlName="createtime" disabled>
                <input type="text" class="form-control" id="idpago" formControlName="idpago" disabled>
                <input type="text" class="form-control" id="descriptionpago" formControlName="descriptionpago" disabled value="Pago ">
                <input type="text" class="form-control" id="valuecost" formControlName="valuecost" disabled value="108"> -->
                    <br>
                    <div class="container">
                        <div class="mb-3">
                            <div #paypal ></div>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
         <br>
        <div class="d-grid gap-2 col-6 mx-auto">
          <!-- [disabled]="submitted && guardando" -->
          <button class="btn btn-primary" type="submit">{{accion == 'agregar' ? 'Crear' : 'Actualizar'}}</button>
      </div>
      <br>
    </form>
</div>
