<div class="container custom-container">
    <div class="row">
        <br>
    </div>

    <div class="row">
        <div class="col">
            <div class="card text-center custom-card">
                <div class="card-header custom-card-header">
                    <!-- Espacio para el header si es necesario -->
                </div>
                <div class="card-body">
                    <h5 class="card-title custom-card-title">Información de Contacto</h5>
                    <p class="card-text custom-card-text">En caso de problemas, sugerencias o preguntas, favor de comunicarse a alguno de los siguientes medios:</p>
                </div>
                <div class="contact-links">
                    <a href="tel:+522221361005" target="_blank" class="contact-link">+52 222 136 1005</a>
                    <a href="mailto:isaac969@gmail.com?Subject=Reed%20Latino%20Contacto" target="_blank" class="contact-link">isaac969@gmail.com</a>
                </div>
                <div class="card-footer text-muted custom-card-footer">
                    <!-- Espacio para pie de tarjeta si es necesario -->
                </div>
            </div>
        </div>

        <!-- Formulario de contacto -->
        <form class="add custom-form">
            <div class="col">
                <div class="mb-3">
                    <label for="nombre" class="form-label custom-form-label">Nombre *</label>
                    <input type="text" class="form-control custom-form-control" id="nombre" name="name" placeholder="Nombre" required [(ngModel)]="contactomodel.name">
                </div>
                <div class="mb-3">
                    <label for="correo" class="form-label custom-form-label">Correo Electrónico *</label>
                    <input type="email" class="form-control custom-form-control" id="correo" name="correo" placeholder="Correo" required [(ngModel)]="contactomodel.correo">
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label custom-form-label">Teléfono *</label>
                    <input type="tel" class="form-control custom-form-control" id="telefono" name="telefono" placeholder="Teléfono" required [(ngModel)]="contactomodel.telefono">
                </div>
                <div class="mb-3">
                    <label for="mensaje" class="form-label custom-form-label">Mensaje *</label>
                    <textarea class="form-control custom-form-control" id="mensaje" name="mensaje" rows="3" placeholder="Mensaje" required [(ngModel)]="contactomodel.mensaje"></textarea>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn custom-btn" (click)="add()">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
