

    <p-toolbar>
        <ng-template pTemplate="left">
            <h3 class="text-dark">Reservaciones</h3>
        </ng-template>
        <ng-template pTemplate="right">

            <button pButton pRipple label="Exportar" icon="pi pi-download" class="p-button-info mr-2" (click)="Excel()" [style]="{marginRight: '4px'}"></button>
            <button pButton pRipple label="Nueva Reservacion" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>

   <p-table [value]="reservacionCollectiondata" [rows]="20" [paginator]="true" [loading]="loading"
         [rowsPerPageOptions]="[20,35,50]" styleClass="p-datatable-sm p-datatable-gridlines" responsiveLayout="scroll"
         [autoLayout]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    ID

                </th>
                <th>
                    LugaresComprados

                </th>
                <th>
                    Fecha de compra
                </th>
                <!-- <th>
                    codigotiket

                </th> -->
                <th>
                    descripcionpago

                </th>
                <th>
                    fechaActualizacion

                </th>
                <th>
                    idpagopaypal

                </th>
                <th>
                    montopago

                </th>
                   <th>
                    Nombre comprador

                </th>
                <th style="display: none;">
                  QR
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reservacion>
            <tr>
                <td>
                    <p>{{reservacion.id}}</p>
                </td>
                <td>
                    <p>{{reservacion.LugaresComprados}}</p>
                </td>
                 <td>
                    <p>{{reservacion.fechaCreacion}}</p>
                </td>
                <!-- <td>
                    <p>{{reservacion.codigotiket}}</p>
                </td> -->
                <td>
                    <p>{{reservacion.descripcionpago}}</p>
                </td>
                <td>
                    <p>{{reservacion.fechaActualizacion}}</p>
                </td>
                <td>
                    <p>{{reservacion.idpagopaypal}}</p>
                </td>
                <td>
                    <p>${{reservacion.montopago}}</p>
                </td>
                <td>
                    <p>{{reservacion.Nombrecomprador}}</p>
                </td>
                <td style="display: none;">
                  <qrcode (qrCodeURL)="onChangeURL($event)" [qrdata]="dataToString" [colorDark]="'#94969e'" [colorLight]="'#000000'" [imageSrc]="'https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/files%2FEscudo-RL.png?alt=media&token=58ee9622-0c5e-4d17-90f1-39a9447a7472'"
                                    [imageHeight]="170" [imageWidth]="170" [title]="'A custom title attributesss'" allowEmptyString="true" [width]="256" [errorCorrectionLevel]="'M'">Datos</qrcode>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mx-3" (click)="delete(reservacion)"></button>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editar(reservacion)" (click)="edit"></button>
                    <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-tertiary mr-2" (click)="downloadPdfReservacion(reservacion)"></button>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Total de Reservaciones{{reservacionCollectiondata ? reservacionCollectiondata.length : 0 }}.
            </div>
        </ng-template>
    </p-table>


<!-- Nueva reservacion -->
<p-dialog [(visible)]="visible" [style]="{width: '450px'}" header="Nueva reservacion" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <form [formGroup]="reservacionForm">

            <!-- <div class="field">
                <label for="id">id:</label>
                <input type="number" pInputText name="id" class="" value="" [(ngModel)]="reservacionModel.id" formControlName="id" [ngClass]="submitted && reservacionForm.controls['id'].errors ? 'is-invalid' : !submitted && reservacionForm.controls['id'].valid ? 'is-valid' : submitted && reservacionForm.controls['id'].valid ? 'is-valid' : null">
                <small class="p-error" *ngIf="submitted && !reservacionModel.id">nombre is required.</small>

            </div>
            <div class="field">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" class="" value="" pInputText required [(ngModel)]="reservacionModel.nombre" formControlName="nombre" required/>
                <small class="p-error" *ngIf="submitted && !reservacionModel.nombre">nombre is required.</small>

            </div> -->



        </form>



    </ng-template>

    <ng-template pTemplate="footer">
        <div>
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="add()"></button>
        </div>

    </ng-template>
</p-dialog>

<p-dialog [(visible)]="edit" [style]="{width: '450px'}" header="Editar reservacion" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <form [formGroup]="reservacionForm">
<!--
            <div class="field">
                <label for="id">id:</label>
                <input type="number" pInputText name="id" class="" value="" [(ngModel)]="reservacionModel.id" formControlName="id" [ngClass]="submitted && reservacionForm.controls['id'].errors ? 'is-invalid' : !submitted && reservacionForm.controls['id'].valid ? 'is-valid' : submitted && reservacionForm.controls['id'].valid ? 'is-valid' : null">
                <small class="p-error" *ngIf="submitted && !reservacionModel.id">Id is required.</small>

            </div>
            <div class="field">
                <label for="nombre">Fecha de Inicio:</label>
                <input type="text" name="nombre" class="" value="" pInputText required [(ngModel)]="reservacionModel.nombre" formControlName="nombre" required/>
                <small class="p-error" *ngIf="submitted && !reservacionModel.nombre">Nombre is required.</small>

            </div> -->



        </form>



    </ng-template>

    <ng-template pTemplate="footer">
        <div>
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="update()"></button>
        </div>


    </ng-template>
</p-dialog>


<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


<!-- PDF REED LATINO  -->
<div id="reservacionPDF" #reservacionPDF *ngIf="showTemplatePDF">
    <div class="row">
        <div class="col-12">
            <img src="assets/pdf/header_pdf.PNG" alt="" style="width: 590px; margin-left: 5px;">
        </div>
        <div class="col-12" style="margin-top: 10px;">
            <div style="display: flex;">
                <div style="width: 295px;">
                    <img [src]="qrCodeDownloadLink" class="qr">
                    <img src="assets/pdf/baner_left.PNG" class="banner" alt="">
                    <a class="ubicacion" href="https://bit.ly/3KsUcLv" target="_blank">https://bit.ly/3KsUcLv</a>
                </div>
                <div style="width: 295px;">
                    <img [src]="qrCodeDownloadLink" class="qr-rigth">
                    <img src="assets/pdf/baner_rigth.PNG" class="banner-r" alt="">
                    <a class="ubicacion-r" href="https://bit.ly/3PKjSUy" target="_blank">https://bit.ly/3PKjSUy</a>
                </div>
            </div>
        </div>
        <div class="col-12" style="margin-top: 10px;">
            <img src="assets/pdf/footer_pdf.PNG" class="footer" alt="">
        </div>
    </div>
</div>
<!-- FIN PDF  -->
