<div class="container mt-4 mb-lg-5">
    <div>

        <div class="container">
            <div class="time-countdown">
                <ul align="center">
                    <h6 *ngIf="tiempo">Tiempo restante: {{time}}</h6>
                    <h6 *ngIf="!tiempo&&!statuspago">Se agotó el tiempo</h6>
                    <h6 *ngIf="!tiempo&&statuspago">Pago Realizado</h6>

                </ul>
            </div>
        </div>
        <h4 class="text-bold text-center">Realizar pago</h4>
        <p-table [columns]="cols" [value]="boletos">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td>
                        {{rowData['idLugar']}}
                    </td>
                    <td>
                        {{rowData['precio']}} USD
                    </td>
                    <!--<td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>-->
                </tr>

            </ng-template>

        </p-table>
        <p-table [columns]="nombres" [value]="[0]">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td>

                    </td>
                    <td>
                        {{totalPorcentaje}} (5%) USD
                    </td>
                </tr>
                <tr>
                       <td>
                        <h6>Si es compra por mesa completa el costo total se ajusta al correcto</h6>
                    </td>
                    <td>
                        <h6>Total</h6>
                    </td>
                    <td>
                        {{total}} USD
                    </td>
                </tr>

            </ng-template>

        </p-table>
    </div>
    <p-card header="Elige tu plato fuerte">
        <label>Selecciona un plato fuerte:</label>
        <select id="plato-fuerte" class="form-control text-center" [(ngModel)]="comidaOpcionSelected">
              <option default value="" disabled>Selecciona tu plato fuerte para la cena</option>
              <option [value]="comidaOpcion1">{{comidaOpcion1}}</option>
             <!-- <option [value]="comidaOpcion2">{{comidaOpcion2}}</option> -->
            </select>
    </p-card>
    <br>
    <p-card header="Pagar Reservacion:">

        <div class="container">
            <div class="mb-3">
                <span class="badge bg-danger">
         Una vez que se realize el pago<br>
         ya no podra cancelar los lugares<br>
          y/o mesa seleccionados</span>
            </div>
        </div>

        <label>Cambiar método de pago:</label>

        <select name="select" class="form-control text-center " [(ngModel)]="pagarCon" name="op">

    <option value="swift">Transferencia SWIFT</option>
    <option value="paypal" selected >PayPal</option>
        </select>




        <!-- <br *ngIf="nominacionForm.controls['statuspago'].value != 'Pago Realizado'"> -->
        <p-card *ngIf="this.pagarCon === 'swift'" header="Pagar con transferencia SWIFT ">
            <div class="col-12">
                <div class="mb-3">
                    <p>Ingresa el baucher con la transferencia por <strong>USD: {{this.total}}</strong>
                        <br>Los datos para realizar tu transferencia se encuentran en la página de
                        <a target="_blank" href="/reedevento/contacto">Contacto</a>
                    </p>
                    <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event, 'FileBaucher')">
                    <!-- <label *ngIf="this.pagarCon === 'swift' && agregarFileBaucher || nominacionEditar.fileBaucher == ''" for="formFile" class="form-label">Comprobante de pago*</label>
              <input *ngIf="this.pagarCon === 'swift' && agregarFileBaucher || nominacionEditar.fileBaucher == ''" class="form-control" type="file" id="formFile" (change)="onFileSelected($event, 'FileBaucher')" [ngClass]="submitted && nominacionForm.controls['fileBaucher'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['fileBaucher'].valid ? 'is-valid' : submitted && nominacionForm.controls['fileBaucher'].valid ? 'is-valid' : null">
              <div *ngIf="submitted && nominacionForm.controls['fileBaucher'].errors" class="text-danger">
              </div>
             <label *ngIf="accion == 'editar' && !agregarFileBaucher && nominacionEditar.fileBaucher">
            <a target="_blank" [href]="nominacionEditar.fileBaucher?.url | safeurl : ''">Archivo de comprobante de pago</a> <button style="margin-left: 1em;" class="btn btn-primary btn-sm" type="button" (click)="setTypeArchivo('FileBaucher')">Cambiar</button>
          </label>   -->
                </div>
            </div>
        </p-card>
        <br *ngIf="this.pagarCon === 'swift'">
        <p-card [hidden]="this.pagarCon === 'swift'" header="Pagar con Paypal">
            <div class="row">
                <div class="col-12">
                    <!-- <input type="text" class="form-control" id="statuspago" formControlName="statuspago" [ngClass]="submitted && nominacionForm.controls['statuspago'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['statuspago'].valid ? 'is-valid' : submitted && nominacionForm.controls['statuspago'].valid ? 'is-valid' : null"
                  disabled>
              <div *ngIf="submitted && nominacionForm.controls['statuspago'].errors" class="text-danger">
                  <div *ngIf="nominacionForm.controls['statuspago'].errors.required">El Pago es requerido</div>
              </div>
              <input type="hidden" class="form-control" id="idpago" formControlName="idpago" [ngClass]="submitted && nominacionForm.controls['idpago'].errors ? 'is-invalid' : !submitted && nominacionForm.controls['idpago'].valid ? 'is-valid' : submitted && nominacionForm.controls['idpago'].valid ? 'is-valid' : null"
                  disabled>
              <br> -->
                    <div class="container">
                        <div class="mb-3">
                            <div #paypal></div>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>

        <!-- <div class="container" >
    <div class="mb-3">
      <div #paypal ></div>
    </div>
  </div> -->
    </p-card>

    <p-dialog header="Detalles de Reservacion" [(visible)]="statuspago">
        <span class="badge bg-warning">NOTA IMPORTANTE:Favor de capturar pantalla de su compra y Descargar su codigo QR de acceso antes de cerrar este apartado</span>
        <br>
        <span class="badge bg-success">Compra Realizada Correctamente</span>
        <p>Reed Latino 2024</p>

        <p>Nombre Comprador:{{this.nombrecomprador}}</p>
        <p>Lugares:{{this.lugaresAdquiridos}}</p>
        <p>Código de ticket:{{this.codigotiket}}</p>
        <p>Estatus de Pago:<span class="badge bg-success">Pagado</span></p>
        <div class="container">
            <div class="mb-3">
              <span class="badge bg-warning">Pronto llegara tu boleto a tu correo!</span>
              <br>
                <!-- <qrcode (qrCodeURL)="onChangeURL($event)" [qrdata]="dataToString" [colorDark]="'#94969e'" [colorLight]="'#000000'" [imageSrc]="'https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/files%2FEscudo-RL.png?alt=media&token=58ee9622-0c5e-4d17-90f1-39a9447a7472'"
                    [imageHeight]="170" [imageWidth]="170" [title]="'A custom title attributesss'" [width]="256" [errorCorrectionLevel]="'M'">Datos</qrcode> -->
                <!-- <a [href]="qrCodeDownloadLink" download="qrcode">Descargue su QR de Acceso !!</a> -->
                <!-- <button class="btn btn-primary" (click)="generatePDF()">Descargue su PDF de Acceso !!</button> -->
            </div>
        </div>
    </p-dialog>

    <!-- PDF REED LATINO  -->
    <div id="reservacionPDF" #reservacionPDF *ngIf="statuspago">
        <div class="row">
            <div class="col-12">
                <img src="assets/pdf/header_pdf.PNG" alt="" style="width: 590px; margin-left: 5px;">
            </div>
            <div class="col-12" style="margin-top: 10px;">
                <div style="display: flex;">
                    <div style="width: 295px;">
                        <img [src]="qrCodeDownloadLink" class="qr">
                        <img src="assets/pdf/baner_left.PNG" class="banner" alt="">
                        <a class="ubicacion" href="https://bit.ly/3KsUcLv" target="_blank">https://bit.ly/3KsUcLv</a>
                    </div>
                    <div style="width: 295px;">
                        <img [src]="qrCodeDownloadLink" class="qr-rigth">
                        <img src="assets/pdf/baner_rigth.PNG" class="banner-r" alt="">
                        <a class="ubicacion-r" href="https://bit.ly/3PKjSUy" target="_blank">https://bit.ly/3PKjSUy</a>
                    </div>
                </div>
            </div>
            <div class="col-12" style="margin-top: 10px;">
                <img src="assets/pdf/footer_pdf.PNG" class="footer" alt="">
            </div>
        </div>
    </div>
    <!-- FIN PDF  -->
