<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm-10">
            <!-- <img class="card-img" src="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/baners%2FEarly%20Bird%203%201900%20x%201200%20px.jpg?alt=media&token=28bfacd6-20cf-434b-a9e2-beb77efe8e03" > -->

        </div>
        <div class="col-sm">

        </div>
    </div>
</div>
<!-- <div class="card bg-dark text-white">
    <img class="card-img" src="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/logo%2FLogo-REED-LATINO%20(3).png?alt=media&token=205e1fc6-cb93-4d20-863a-c87d4af3bcdc" alt="" height="250" width="100">
    <div class="card-img-overlay">
        <h5 class="card-title">
            <h1 class="text-2xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
                <span class="text-white inline xl:inline">Awards</span>
                <span class="text-primary-50 inline xl:inline">2022</span>
            </h1>
        </h5>
     <p class="card-text">Los mejores reportes del año</p>

    </div>
</div> -->

<div class="flex flex-wrap justify-center">
    <!-- <div class="w-full md:w-1/2 p-3">
        <div class="bg-white border-2 border-gray-300 rounded-lg shadow-lg p-4">
            <h5 class="text-gray-700 font-bold mb-3">Descarga los documentos aquí</h5>
            <p class="text-gray-700 text-base">Los documentos requeridos para que puedas crear tu nominación</p>

            <div class="row">
                <div class="col">
                    <p>
                        <br>
                        <br>
                        <a href="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/files%2FCesionDeDerechos.docx?alt=media&token=14577e87-bbf5-44cf-948f-b248a1243684">
                            <img src="assets/img/docx.png" alt="" height="150" width="140">
                        </a>
                        <br>Cesión de derechos
                        <br>
                    </p>
                </div>
                <div class="col">
                    <p>
                        <br>
                        <br>
                        <a href="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/ourFiles%2FCarta%20de%20Intencio%CC%81n%20.docx?alt=media&token=1752cf4d-74af-4bfc-b564-cedf28c80516">
                            <img src="assets/img/docx.png" alt="" height="150" width="140">
                        </a>
                        <br>Carta de intención
                        <br>
                    </p>
                </div>
                <div class="col">
                    <p>
                        <br>
                        <br>
                        <a href="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/ourFiles%2FCONSULTOR%20DEL%20AN%CC%83O.docx?alt=media&token=4d56eea2-bfe5-40c7-be0f-4ee4e9e51ab0">
                            <img src="assets/img/docx.png" alt="" height="150" width="140">
                        </a>
                        <br>Consultor del año
                        <br>
                    </p>
                </div>
                <div class="col">
                    <p>
                        <br>
                        <br>
                        <a href="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/ourFiles%2FACADE%CC%81MICAS.docx?alt=media&token=8b1094cb-c560-4bc4-a34f-969a96870b21">
                            <img src="assets/img/docx.png" alt="" height="150" width="140">
                        </a>
                        <br>Academias
                        <br>
                    </p>
                </div>
                <div class="col">
                    <p>
                        <br>
                        <br>
                        <a href="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/ourFiles%2FConsultor%20Revelacio%CC%81n.docx?alt=media&token=e7d04301-115d-4425-8748-3e7df63c60a5">
                            <img src="assets/img/docx.png" alt="" height="150" width="140">
                        </a>
                        <br>Consultor revelación
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="w-full md:w-1/2 p-3">
        <!-- <div class="d-flex align-items-center justify-content-center mb-4">
            <img src="/assets/img/banner-red-latino.jpg" width="30%"  alt="">
        </div> -->
        <div class="bg-white border-2 border-gray-300 rounded-lg shadow-lg p-4">
            <div class="card-body row">
                <div class="col-12 col-md-6 custom-section">
                    <h2 class="card-title custom-title">Transferencia</h2>
                    <p class="card-text custom-text">Recuerda que puedes pagar por PayPal tus nominaciones, sin embargo
                        también tenemos la opción de transferencia bancaria.</p>
                    <p class="card-text custom-text">
                        Puede realizar el pago de su inscripción mediante transferencia bancaria utilizando los
                        siguientes datos:

                        <br><br><strong>Razón Social:</strong> CE RESEARCH SA DE CV
                        <br><strong>RFC:</strong> CRE220323H52
                        <br><strong>Banco:</strong> BBVA México
                        <br><strong>Número de Cuenta:</strong> 0118884641
                        <br><strong>CLABE Interbancaria:</strong> 012650001188846413

                        <br><br><strong>Domicilio Fiscal:</strong>
                        <br>Calle Arezo No. 1, Interior 201
                        <br>Col. Lomas de Angelópolis
                        <br>San Andrés Cholula, Puebla, México
                        <br>C.P. 72830

                        <br><br><strong>Transferencias Internacionales</strong>
                        <br><strong>Código SWIFT:</strong> BCMRMXMMPYM
                        <br><strong>Sucursal:</strong> 1771 Centro PyME Puebla

                        <br><br><strong>Importante:</strong>
                        Una vez realizada la transferencia, le solicitamos enviar su comprobante de pago para la
                        validación correspondiente y la correcta aplicación de su inscripción.

                        <br><br><strong>Facturación:</strong>
                        En caso de requerir factura, deberá solicitarla dentro del mes en que se realice el pago y
                        proporcionar sus datos fiscales completos. Los importes publicados no incluyen IVA; por lo
                        tanto, se adicionará el impuesto correspondiente de conformidad con la legislación fiscal
                        vigente.
                    </p>
                    <a class="btn custom-btn" href="https://reedlatino.com/convocatoria-2026/" target="_blank"
                        rel="noopener noreferrer">
                        Descargar Convocatoria
                    </a>
                </div>

                <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                    <img src="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/baners%2Fpromocional.jpeg?alt=media&token=bfd0073a-b371-47b4-adda-832d00b43520"
                        width="100%" alt="">
                </div>
            </div>
        </div>
    </div>
</div>