<!-- Aqui se agrega el spiner antes de cargar los lugares -->
<div *ngIf="StatusCargaLugares==false">
    <p-card style="background-color: white;" header="Selecciona un lugar" align="center"
        subheader="Selecciona tu lugar en la cena de Premiación Reed Latino 2024" [style]="styleOBJ">
        <div class="card-body">
            <h5>Cargando Informacion...Solo spodra continuar su compra si termino de cargar la informacion</h5>
            <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8"
                fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
        </div>
    </p-card>
</div>
<p-card style="background-color: white;" header="Selecciona un lugar" align="center"
    subheader="Selecciona tu lugar en la cena de Premiación Reed Latino 2024" [style]="styleOBJ">
    <div
        style="display: flex; flex-direction: column; text-align: start; margin-left: auto; margin-right: auto; width: 40%;">
        <label style="display: block;">1 - Escoge una mesa dependiendo de tus necesidades</label>
        <label style="display: block;">2 - Selecciona el lugar que deseas</label>
        <label style="display: block;">3 - Dirígete al apartado "CONTINUAR COMPRA" ( hay 5 minutos de tolerancia para
            poder confirmar asientos )</label>
        <label style="display: block;">4 - Verifica que tus asientos son los que realmente seleccionaste</label>
        <label style="display: block;">5 - Sube tu comprobante de pago en el apartado "cambiar método de pago"</label>
    </div>

    <div class="card-body">
        <div class="row">
            <div>
                <div class="content">
                    <img src="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/baners%2Fcolores%20status%20mesas.jpg?alt=media&token=658281c4-5edc-4279-96c8-d82f3f097b53"
                        alt="" class="status-img">
                </div>
            </div>

            <div class="container-fluid zonas" id="zonasOcultar" pTooltip="Seleccione sus lugares"
                tooltipPosition="top">
                <div class="container">
                    <div class="col-18">
                        <div class="main-card">

                            <div class="logo-container">
                                <div class="pantalla">
                                    <span class="rectangle-text">PANTALLA</span>
                                </div>
                                <div class="tarima">
                                    <span class="rectangle-text">TARIMA</span>
                                </div>
                                <div class="fuente">
                                    <span class="rectangle-text">FUENTE</span>
                                </div>
                            </div>


                            <div *ngFor="let mesa of mesas">
                                <div class="positioned-component" [style.left.px]="mesa.x" [style.top.px]="mesa.y">
                                    <div *ngIf="mesa.type =='M'" class="icon" #MyRef [id]="mesa.id"
                                        [ngClass]="{'bg-blue': mesa.type === 'M'}" 
                                        (click)="comprarMesa(mesa.id, 'VIP1') "
                                        [pTooltip]="'Mesa: '+mesa.id+'\n Precio: '+  mesa.precio+ ' USD'">
                                        {{mesa.id}}
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of sillas">
                                                <a #MyRef [id]="mesa.id+name" class="unitVIP">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="icon" *ngIf="mesa.type =='U'">
                                        {{mesa.id }}
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of sillas | slice:0:10">
                                                <a #MyRef [id]="mesa.id+name" class="unit"
                                                    [pTooltip]="'Asiento: '+mesa.id+name+'\n Precio: '+ mesa.precio+' USD'"
                                                    (click)="selectedAsiento(mesa.id+name)">{{name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>



                            <!-- <div class="icon" #MyRef [id]="1" (click)="comprarMesa(1, 'VIP1') "
                                        [pTooltip]="'Mesa: A1'+'\n Precio: 7000 USD'">
                                        {{"A1"}}
                                        <ul class="menu">
                                            <li class="spread" *ngFor="let name of mesas">
                                                <a #MyRef [id]="1+name" class="unitVIP">{{name}}</a>
                                            </li>
                                        </ul>
                            </div>-->
                            <div class="grid-layout">

                                <!-- Contenido de grilla aquí -->
                            </div>

                            <label class="custom-label">
                                <!-- Texto aquí -->
                            </label>
                        </div>
                    </div>
                </div>

                <br>

                <div *ngIf="StatusCargaLugares==true">
                    <div class="container-fluid">
                        <a class="btn-flotante" (click)="realizarCompra()" pTooltip="Pagar Lugares seleccionados"
                            tooltipPosition="left">
                            <i class="pi pi-shopping-cart"></i> Continuar compra
                        </a>
                    </div>
                </div>

                <br><br>
            </div>
        </div>
    </div>
</p-card>
<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000" [style]="{'width':'50vw'}">
    <app-pago *ngIf="visibleSidebar2" [boletosSeleccionados]="boletosSeleccionados" (fetchNominaciones)="unseled()">
    </app-pago>
</p-sidebar>
<p-dialog header="Error" [(visible)]="displayBasic" [style]="{width: '20vw'}" [baseZIndex]="1000">
    <p> Debes Seleccionar un lugar</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="displayBasic=false" label="Aceptar  "></p-button>
    </ng-template>
</p-dialog>