<!-- Aqui se agrega el spiner antes de cargar los lugares -->
 
 <div *ngIf="StatusCargaLugares==false" class="flex flex-column align-items-center justify-content-center" [style]="styleOBJ">
  <h5>Cargando Información... Solo podrá continuar su compra si terminó de cargar la información</h5>

  <p-progressSpinner 
      [style]="{width: '50px', height: '50px'}" 
      styleClass="custom-spinner" 
      strokeWidth="8"
      fill="var(--surface-ground)" 
      animationDuration=".5s">
  </p-progressSpinner>
</div>

<div class="container">
  <div class="row align-items-center">
    <!-- Columna de texto -->
    <div class="col-12 col-md-6">
      <p>1 - Escoge una mesa dependiendo de tus necesidades</p>
      <p>2 - Selecciona el lugar que deseas</p>
      <p>3 - Dirígete al apartado "CONTINUAR COMPRA" (hay 5 minutos de tolerancia para poder confirmar asientos)</p>
      <p>4 - Verifica que tus asientos son los que realmente seleccionaste</p>
      <p>5 - Sube tu comprobante de pago en el apartado "cambiar método de pago"</p>
    </div>

    <!-- Columna de imagen -->
    <div class="col-12 col-md-6 text-center">
      <img src="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/baners%2Fcolores%20status%20mesas.jpg?alt=media&token=658281c4-5edc-4279-96c8-d82f3f097b53"
           alt="Estado mesas"
           style="max-width: 100%; height: auto;">
    </div>
  </div>
</div>



<div class="container-fluid" pTooltip="Seleccione sus lugares" tooltipPosition="top">


  <div class="container">
    
    <div class="col-12">
      <!-- <div class="main-card responsive-scale" style="position: relative; width: 100%; min-height: 400px;"> -->
<div class="main-card responsive-scale"
     style="position: relative; width: 100%; max-width: 1200px; margin: 0 auto; aspect-ratio: 1024 / 1200; border: 1px solid #000;">
        <!-- Logos / Pantalla / Tarima / Fuente -->
        <div class="logo-container d-flex justify-content-around flex-wrap mb-3">
          <div class="pantalla">
            <span class="rectangle-text">PANTALLA</span>
          </div>
          <div class="tarima">
            <span class="rectangle-text">TARIMA</span>
          </div>
          <div class="fuente">
            <span class="rectangle-text">FUENTE</span>
          </div>
        </div>

        <!-- Mesas -->
      <div *ngFor="let mesa of mesas">
  <div class="positioned-component"
    [style.left.%]="(mesa.x/1024)*100-8"
    [style.top.%]="(mesa.y/1200)*100"
       style="position: absolute;">
       
    <div *ngIf="mesa.type =='M'" class="icon bg-blue" #MyRef
         [id]="mesa.id"
         (click)="comprarMesa(mesa.id, 'VIP1')"
         [pTooltip]="'Mesa: '+mesa.id+'\n Precio: '+mesa.precio+' USD'">
      {{mesa.id}}
      <ul class="menu">
        <li class="spread" *ngFor="let name of sillas">
          <a #MyRef [id]="mesa.id+name" class="unitVIP">{{name}}</a>
        </li>
      </ul>
    </div>

    <div *ngIf="mesa.type =='U'" class="icon">
      {{mesa.id}}
      <ul class="menu">
        <li class="spread" *ngFor="let name of sillas | slice:0:10">
          <a #MyRef [id]="mesa.id+name" class="unit"
             [pTooltip]="'Asiento: '+mesa.id+name+'\n Precio: '+mesa.precio+' USD'"
             (click)="selectedAsiento(mesa.id+name)">
             {{name}}
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>

      </div>
    </div>
  </div>
</div>


<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000" [style]="{'width':'50vw'}">
    <app-pago *ngIf="visibleSidebar2" [boletosSeleccionados]="boletosSeleccionados" (fetchNominaciones)="unseled()">
    </app-pago>
</p-sidebar>
<p-dialog header="Error" [(visible)]="displayBasic" [style]="{width: '20vw'}" [baseZIndex]="1000">
    <p> Debes Seleccionar un lugar</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="displayBasic=false" label="Aceptar  "></p-button>
    </ng-template>
</p-dialog>